{% extends "basic/layout.html" %}
{% block linktags %}
    <link
href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700"
rel="stylesheet" type="text/css" />
    {{ super() }}
{% endblock %}

{%- block relbar1 %}{% endblock %}

{%- block relbar2 %}
<div class="related">
  <h3>{{ _('Navigation') }}</h3>
  <ul>
    {% if prev %}
    <li><a href="{{ prev.link|e }}">{{ _("Previous") }}</a></li>
    {% endif %}
    {% if next %}
    <li class="right">{{ _('Next chapter') }}: <a href="{{ next.link|e }}">{{ next.title }}</a></li>
    {% endif %}
  </ul>
</div>
{% endblock %}

{%- block extrahead %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32951151-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endblock %}

{% block footer %}
  <div class="footer">
    <a rel="license"
    href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img
    alt="Creative Commons License" style="border-width:0"
    src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br /><span
    xmlns:dct="http://purl.org/dc/terms/" property="dct:title">{{ docstitle }}</span> by <span xmlns:cc="http://creativecommons.org/ns#"
    property="cc:attributionName">Alex Reinhart</span> is licensed under a <a
    rel="license"
    href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative
    Commons Attribution 3.0 Unported License</a>.
  </div>
  {{ super() }}
{% endblock %}